.second_a4_about_page {
    margin-top: 280px;
}

.second_a4_about_page .about_home_title {
    margin-top: 25px;
}

.what_defines_us__about {
    margin-top: 180px;
    margin-bottom: 50px;
}

.wdu_title {
    text-align: center;
    font-family: Oswald, sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
}