.picture_content_pair_container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;
    margin: 50px 0 120px 0;
}

.right_aligned{
    flex-direction: row;
}
.left_aligned{
    flex-direction: row-reverse;
}
.pcp_first img {
    width: 100%;
    border-radius: 6px;
}

.pcp_first,
.pcp_second {
    flex: 1;
}

@media (max-width: 600px) {
    .right_aligned{
        flex-direction: column;
    }
    .left_aligned{
        flex-direction: column-reverse;
    }
}

.list_any {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.list_any p {
    font-family: Lato, sans-serif;
}